@font-face {
    font-family: Audrey;
    src: url(../fonts/Audrey-Normal.otf) format('truetype');
}

@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light-Regular.otf) format('truetype');
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

html.sr .load-hidden {
    visibility: hidden;
}

.first-screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: none;
}

.frosted {
    z-index: 1;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.frosted:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(40px);
    margin: -30px;

}

#content {
    width: 50%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
}

h1 {
    margin-top: 60px;
    text-align: center;
    color: black !important;
    font-family: Gotham-Light;
    letter-spacing: 0.1em;
    font-size: 50px !important;
}

h2 {
    padding-top: 1px !important;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    font-family: Audrey;
}

p {
    padding-top: 20px;
    font-family: Gotham-Light;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

ul {
    font-family: Gotham-Light;
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    left: 25%;
}

button {
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #333;
    box-shadow: 0 1px 2px #8b8b8b inset, 0 -1px 0 #3d3d3d inset, 0 -2px 3px #8b8b8b inset;
    background: -webkit-linear-gradient(top, #656565, #4c4c4c);
    background: -moz-linear-gradient(top, #656565, #4a4a4a);
    background: linear-gradient(top, #656565, #4a4a4a);
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

button:hover {
    background: -webkit-linear-gradient(top, #818181, #575757);
    background: -moz-linear-gradient(top, #818181, #575757);
    background: linear-gradient(top, #818181, #575757);
}

button:active {
    background: -webkit-linear-gradient(top, #424242, #575757);
    background: -moz-linear-gradient(top, #424242, #575757);
    background: linear-gradient(top, #424242, #575757);
}


.second-screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
}

#solar_chart {
    width: 55%;
    height: 45%;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset,
        0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(240, 0%, 100%, .5);
    background-color: rgba(255, 255, 255, 0.7);
}