/* Fonts quote */
@font-face {
    font-family: Audrey;
    src: url(../fonts/Audrey-Normal.otf) format('truetype');
}

@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light-Regular.otf) format('truetype');
}

/* Overall style declaration start*/
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Gotham-Light;
}

/* Button style */
button {
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #333;
    box-shadow: 0 1px 2px #8b8b8b inset, 0 -1px 0 #3d3d3d inset, 0 -2px 3px #8b8b8b inset;
    background: -webkit-linear-gradient(top, #656565, #4c4c4c);
    background: -moz-linear-gradient(top, #656565, #4a4a4a);
    background: linear-gradient(top, #656565, #4a4a4a);
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

button:hover {
    background: -webkit-linear-gradient(top, #818181, #575757);
    background: -moz-linear-gradient(top, #818181, #575757);
    background: linear-gradient(top, #818181, #575757);
}

button:active {
    background: -webkit-linear-gradient(top, #424242, #575757);
    background: -moz-linear-gradient(top, #424242, #575757);
    background: linear-gradient(top, #424242, #575757);
}

/* Other elements style */
h1 {
    letter-spacing: 0.1em;
    font-size: 50px;
}

h2 {
    font-family: Audrey;
}

p {
    font-size: 25px;
    line-height: 40px;
}

ul {
    font-size: 20px;
    line-height: 40px;
    margin: 0 auto;
}

a {
    display: block;
    width: 95px;
    height: 20px;
    margin: auto;
    position: relative;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
}

/* Div container style */
.container {
    box-shadow: 0 0 2px 1px rgba(240, 240, 240, 0.8) inset,
        0 .5em 1em rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.8);
}

/* Frosted glass style */
.frosted {
    z-index: 1;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.frosted:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(40px);
    margin: -30px;
}

/* First screen style declaration start */
.first-screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: none;
}

.home_title {
    text-align: center;
    margin-top: 60px;
}

.home_subtitle {
    text-align: center;
    padding-top: 1px;
}

.home_description {
    text-align: center;
    padding-top: 20px;
}

.intro_title{
    letter-spacing: 0;
    font-size: 40px;
    margin-left: 20px;
}

.intro_description{
    font-size: 30px;
    margin-left: 20px;
    margin-top: -20px;
    line-height: 50px;
}

.signal {
    width: 215px;
}

#home_content {
    box-shadow: 0 0 2px 1px rgba(240, 240, 240, 0.8) inset,
        0 .5em rgba(230, 230, 230, 0);
    background-color: rgba(245, 245, 245, 0.5);
    width: 50%;
    height: 80%;
    top: 20%;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#intro_content{
    box-shadow: 0 0 2px 1px rgba(240, 240, 240, 0.8) inset,
        0 .5em rgba(230, 230, 230, 0);
    background-color: rgba(245, 245, 245, 0.5);
    width: 80%;
    height: 90%;
    top: 10%;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

/* Second screen style declaration start */
.second-screen {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(230, 230, 230);
}

#charts {
    width: 90%;
    height: 45%;
    top: 20px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#solar_chart {
    width: 44.5%;
    height: 45%;
    bottom: 6%;
    position: absolute;
    left: 5%;
}

#wind_chart {
    width: 44.5%;
    height: 45%;
    bottom: 6%;
    position: absolute;
    right: 5%;
}